@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    overflow: hidden;
    display: none;
    top: 0;
}

p{
  font-size: 10px;
  margin: 0;
  width: 200px;
  transform: translateX(-48%);
}
#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

#radio {
  width: 367px;
  height: 795px;
  right: 0;
  bottom: 0;
  position: fixed;
}


#onoff {
  position: absolute;
  top: 32%;
  right: 0;
  padding: 40px 40px;
  opacity: .0;
}

.onoff button {
 padding: 40px 55px;

 opacity: .0;
}

.ekran {
  position: absolute;
  background-color: #c4dfd3;
  padding: 98px 101.5px;
  top: 71%;
  left: 22%;
}

.channel {
  width: 0;
  height: 0;
}

.channel span {
  text-align: center;
}

.channel input {
  text-align: center;
  border: none;
  border-bottom: 2px solid #a8d0be;
  background-color: #c4dfd3;
  font-size: 34px;
  margin-left: 29px;
}

.channel input::-webkit-outer-spin-button,
.channel input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.channel input:focus{
  outline:none;
}

#submit {
  padding: 7px;
  margin-top: 7px;
  position: absolute;
  width: 175px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a8d0be;
  border: none;
}

#login-form {
  position: relative;
  width: 200px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}