@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {
	font-family: 'Pricedown';
	src: url('../fonts/pdown.ttf');
}

.menu {
  font-family: 'Poppins', sans-serif;  
  min-width  : 400px;
  color      : #fff;
  box-shadow: 0 3px 7px rgba(0,0,0,0.2);
  position   : absolute;
}

.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%); 
}

.menu.align-top-left {
  left: 40;
  top : 40; 
}

.menu.align-top {
  left: 50%;
  top : 40;
  transform: translate(-50%, 0); 
}

.menu.align-top-right {
  right: 10;
  top  : 40;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {
	font-family: 'Pricedown', sans-serif;
  background-color: #2c3e50;
  text-align      : center;
  height          : 69px;
  line-height     : 69px;
	font-size       : 21px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.menu .menu-items {
  max-height : 600px;
  /* overflow-y : auto; */
}

.menu .menu-items .menu-item {
  display         : block;
  background-color: rgba(255,255,255, 0.2);
  height          : 45px;
  line-height     : 45px;
  color           : #fff;
  text-align      : center;
}

.menu .menu-items .menu-item {
  background-color: #9a9a9a;
}
.menu .menu-items .menu-item.selected {
  background-color: #34495e;
}

.menu .menu-items .menu-item.selected::before{
  content: '> ';
  color: #9a9a9a;
  font-size: 2rem;
  vertical-align: middle;
}